In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in season stats data
season_stats_df = pd.read_csv('resources/seasons_stats.csv', encoding='windows-1252')
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1955.0,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,0.750,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0
1,1955.0,Paul Arizin*,SF,26.0,PHW,72.0,NaN,2953.0,18.2,0.478,...,0.776,NaN,NaN,675.0,210.0,NaN,NaN,NaN,270.0,1512.0
2,1955.0,Jim Baechtold,SF,27.0,NYK,72.0,NaN,2536.0,13.9,0.479,...,0.823,NaN,NaN,307.0,218.0,NaN,NaN,NaN,202.0,1003.0
3,1955.0,Don Barksdale*,SF,31.0,BOS,72.0,NaN,1790.0,14.3,0.445,...,0.651,NaN,NaN,545.0,129.0,NaN,NaN,NaN,225.0,754.0
4,1955.0,Bob Brannum,PF,29.0,BOS,71.0,NaN,1623.0,10.8,0.424,...,0.709,NaN,NaN,492.0,127.0,NaN,NaN,NaN,232.0,442.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23745,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
23746,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
23747,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23748,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23749,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [3]:
# analyze data types for counting stats
season_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23750 entries, 0 to 23749
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    23688 non-null  float64
 1   Player  23688 non-null  object
 2   Pos     23688 non-null  object
 3   Age     23682 non-null  float64
 4   Tm      23688 non-null  object
 5   G       23688 non-null  float64
 6   GS      18233 non-null  float64
 7   MP      23688 non-null  float64
 8   PER     23657 non-null  float64
 9   TS%     23603 non-null  float64
 10  3PAr    18839 non-null  float64
 11  FTr     23590 non-null  float64
 12  ORB%    20792 non-null  float64
 13  DRB%    20792 non-null  float64
 14  TRB%    21571 non-null  float64
 15  AST%    22555 non-null  float64
 16  STL%    20792 non-null  float64
 17  BLK%    20792 non-null  float64
 18  TOV%    19582 non-null  float64
 19  USG%    19640 non-null  float64
 20  blanl   0 non-null      float64
 21  OWS     23662 non-null  float64
 22  DWS     23662 non-null  float64
 23  WS      23662 non-null  float64
 24  WS/48   23657 non-null  float64
 25  blank2  0 non-null      float64
 26  OBPM    20797 non-null  float64
 27  DBPM    20797 non-null  float64
 28  BPM     20797 non-null  float64
 29  VORP    20797 non-null  float64
 30  FG      23688 non-null  float64
 31  FGA     23688 non-null  float64
 32  FG%     23590 non-null  float64
 33  3P      18927 non-null  float64
 34  3PA     18927 non-null  float64
 35  3P%     15416 non-null  float64
 36  2P      23688 non-null  float64
 37  2PA     23688 non-null  float64
 38  2P%     23561 non-null  float64
 39  eFG%    23590 non-null  float64
 40  FT      23688 non-null  float64
 41  FTA     23688 non-null  float64
 42  FT%     22841 non-null  float64
 43  ORB     20797 non-null  float64
 44  DRB     20797 non-null  float64
 45  TRB     23688 non-null  float64
 46  AST     23688 non-null  float64
 47  STL     20797 non-null  float64
 48  BLK     20797 non-null  float64
 49  TOV     19645 non-null  float64
 50  PF      23688 non-null  float64
 51  PTS     23688 non-null  float64
dtypes: float64(49), object(3)
memory usage: 9.4+ MB

In [4]:
# Check for empty rows
season_stats_df['Year'].isna().sum()

62

In [5]:
# Drop Empty Rows
season_stats_df.dropna(subset=['Year'], inplace=True)
season_stats_df = season_stats_df.reset_index(drop=True)
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1955.0,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,0.750,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0
1,1955.0,Paul Arizin*,SF,26.0,PHW,72.0,NaN,2953.0,18.2,0.478,...,0.776,NaN,NaN,675.0,210.0,NaN,NaN,NaN,270.0,1512.0
2,1955.0,Jim Baechtold,SF,27.0,NYK,72.0,NaN,2536.0,13.9,0.479,...,0.823,NaN,NaN,307.0,218.0,NaN,NaN,NaN,202.0,1003.0
3,1955.0,Don Barksdale*,SF,31.0,BOS,72.0,NaN,1790.0,14.3,0.445,...,0.651,NaN,NaN,545.0,129.0,NaN,NaN,NaN,225.0,754.0
4,1955.0,Bob Brannum,PF,29.0,BOS,71.0,NaN,1623.0,10.8,0.424,...,0.709,NaN,NaN,492.0,127.0,NaN,NaN,NaN,232.0,442.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23683,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
23684,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
23685,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23686,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23687,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [6]:
# Drop Null Columns
season_stats_df = season_stats_df.drop(['blanl', 'blank2'], axis=1)
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1955.0,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,0.750,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0
1,1955.0,Paul Arizin*,SF,26.0,PHW,72.0,NaN,2953.0,18.2,0.478,...,0.776,NaN,NaN,675.0,210.0,NaN,NaN,NaN,270.0,1512.0
2,1955.0,Jim Baechtold,SF,27.0,NYK,72.0,NaN,2536.0,13.9,0.479,...,0.823,NaN,NaN,307.0,218.0,NaN,NaN,NaN,202.0,1003.0
3,1955.0,Don Barksdale*,SF,31.0,BOS,72.0,NaN,1790.0,14.3,0.445,...,0.651,NaN,NaN,545.0,129.0,NaN,NaN,NaN,225.0,754.0
4,1955.0,Bob Brannum,PF,29.0,BOS,71.0,NaN,1623.0,10.8,0.424,...,0.709,NaN,NaN,492.0,127.0,NaN,NaN,NaN,232.0,442.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23683,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
23684,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
23685,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23686,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23687,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
# Remove TOT teams, as we would like to calculate totals on our own
season_stats_df = season_stats_df[season_stats_df['Tm'] != 'TOT']
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1955.0,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,0.750,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0
1,1955.0,Paul Arizin*,SF,26.0,PHW,72.0,NaN,2953.0,18.2,0.478,...,0.776,NaN,NaN,675.0,210.0,NaN,NaN,NaN,270.0,1512.0
2,1955.0,Jim Baechtold,SF,27.0,NYK,72.0,NaN,2536.0,13.9,0.479,...,0.823,NaN,NaN,307.0,218.0,NaN,NaN,NaN,202.0,1003.0
3,1955.0,Don Barksdale*,SF,31.0,BOS,72.0,NaN,1790.0,14.3,0.445,...,0.651,NaN,NaN,545.0,129.0,NaN,NaN,NaN,225.0,754.0
4,1955.0,Bob Brannum,PF,29.0,BOS,71.0,NaN,1623.0,10.8,0.424,...,0.709,NaN,NaN,492.0,127.0,NaN,NaN,NaN,232.0,442.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23683,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
23684,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
23685,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23686,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23687,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [8]:
season_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21673 entries, 0 to 23687
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    21673 non-null  float64
 1   Player  21673 non-null  object
 2   Pos     21673 non-null  object
 3   Age     21668 non-null  float64
 4   Tm      21673 non-null  object
 5   G       21673 non-null  float64
 6   GS      16658 non-null  float64
 7   MP      21673 non-null  float64
 8   PER     21663 non-null  float64
 9   TS%     21588 non-null  float64
 10  3PAr    17203 non-null  float64
 11  FTr     21575 non-null  float64
 12  ORB%    19003 non-null  float64
 13  DRB%    19003 non-null  float64
 14  TRB%    19717 non-null  float64
 15  AST%    20628 non-null  float64
 16  STL%    19003 non-null  float64
 17  BLK%    19003 non-null  float64
 18  TOV%    17871 non-null  float64
 19  USG%    17929 non-null  float64
 20  OWS     21668 non-null  float64
 21  DWS     21668 non-null  float64
 22  WS      21668 non-null  float64
 23  WS/48   21663 non-null  float64
 24  OBPM    19008 non-null  float64
 25  DBPM    19008 non-null  float64
 26  BPM     19008 non-null  float64
 27  VORP    19008 non-null  float64
 28  FG      21673 non-null  float64
 29  FGA     21673 non-null  float64
 30  FG%     21575 non-null  float64
 31  3P      17291 non-null  float64
 32  3PA     17291 non-null  float64
 33  3P%     14059 non-null  float64
 34  2P      21673 non-null  float64
 35  2PA     21673 non-null  float64
 36  2P%     21546 non-null  float64
 37  eFG%    21575 non-null  float64
 38  FT      21673 non-null  float64
 39  FTA     21673 non-null  float64
 40  FT%     20858 non-null  float64
 41  ORB     19008 non-null  float64
 42  DRB     19008 non-null  float64
 43  TRB     21673 non-null  float64
 44  AST     21673 non-null  float64
 45  STL     19008 non-null  float64
 46  BLK     19008 non-null  float64
 47  TOV     17934 non-null  float64
 48  PF      21673 non-null  float64
 49  PTS     21673 non-null  float64
dtypes: float64(47), object(3)
memory usage: 8.4+ MB

In [9]:
# read in player dataset
players_df = pd.read_csv('database_files/player_dataset.csv', encoding='UTF-8')
players_df

,active_from,active_to,birth_date,height,name,position,player_id,weight,NBA_Years_Active,School,School_ID
0,1991,1995,24-Jun-68,82,Alaa Abdelnaby,F-C,abdelal01,240.0,5,Duke University,S0096
1,1969,1978,7-Apr-46,81,Zaid Abdul-Aziz,C-F,abdulza01,235.0,10,Iowa State University,S0154
2,1970,1989,16-Apr-47,86,Kareem Abdul-Jabbar,C,abdulka01,225.0,20,"University of California, Los Angeles",S0334
3,1991,2001,9-Mar-69,73,Mahmoud Abdul-Rauf,G,abdulma02,162.0,11,Louisiana State University,S0178
4,1998,2003,3-Nov-74,78,Tariq Abdul-Wahad,F,abdulta01,223.0,6,San Jose State University,S0274
...,...,...,...,...,...,...,...,...,...,...,...
4571,2018,2018,4-Jan-97,83,Ante Zizic,F-C,zizican01,250.0,1,International/High School Prospect,S0152
4572,1983,1983,20-Dec-53,85,Jim Zoet,C,zoetji01,240.0,1,Kent State University,S0161
4573,1971,1971,7-Jun-48,73,Bill Zopf,G,zopfbi01,170.0,1,Duquesne University,S0097
4574,2017,2018,18-Mar-97,85,Ivica Zubac,C,zubaciv01,265.0,2,International/High School Prospect,S0152
4575,1949,1949,19-Dec-19,75,Matt Zunic,G-F,zunicma01,195.0,1,George Washington University,S0122

In [10]:
# create player id table
player_id_table = pd.DataFrame(players_df['name'])
player_id_table['player_id'] = players_df['player_id']
player_id_table = player_id_table.rename(columns={"name": "Player"})
player_id_table

                   Player  player_id
0          Alaa Abdelnaby  abdelal01
1         Zaid Abdul-Aziz  abdulza01
2     Kareem Abdul-Jabbar  abdulka01
3      Mahmoud Abdul-Rauf  abdulma02
4       Tariq Abdul-Wahad  abdulta01
...                   ...        ...
4571           Ante Zizic  zizican01
4572             Jim Zoet   zoetji01
4573            Bill Zopf   zopfbi01
4574          Ivica Zubac  zubaciv01
4575           Matt Zunic  zunicma01

[4576 rows x 2 columns]

In [11]:
# Merge Player ID Table with Season Stats
nba_stats_df = season_stats_df.merge(player_id_table, on=['Player'], how='inner').sort_values(by='Year', axis=0) \
                .reset_index(drop=True)
nba_stats_df['Year'] = nba_stats_df['Year'].astype(int)
nba_stats_df = nba_stats_df[nba_stats_df['Tm'] != 'STB']
nba_stats_df = nba_stats_df[nba_stats_df['Tm'] != 'SHE']
nba_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_id
0,1955,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0,anieldo01
1,1955,Dick Rosenthal,SF,25.0,FWP,67.0,NaN,1406.0,13.7,0.435,...,NaN,NaN,300.0,153.0,NaN,NaN,NaN,179.0,524.0,rosendi01
2,1955,Pep Saul,SG,30.0,MLH,65.0,NaN,1139.0,8.1,0.402,...,NaN,NaN,134.0,104.0,NaN,NaN,NaN,126.0,287.0,saulpe01
3,1955,Dick Schnittker,SF,26.0,MNL,72.0,NaN,1798.0,15.4,0.505,...,NaN,NaN,349.0,114.0,NaN,NaN,NaN,231.0,750.0,schnidi01
4,1955,Fred Scolari,PG,32.0,BOS,59.0,NaN,619.0,7.8,0.353,...,NaN,NaN,77.0,93.0,NaN,NaN,NaN,76.0,191.0,scolafr01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,2017,Jason Smith,C,30.0,WAS,74.0,3.0,1068.0,13.6,0.598,...,64.0,194.0,258.0,37.0,21.0,55.0,58.0,168.0,420.0,smithja02
20635,2017,Ramon Sessions,PG,30.0,CHO,50.0,1.0,811.0,12.3,0.495,...,11.0,62.0,73.0,129.0,26.0,3.0,46.0,43.0,312.0,sessira01
20636,2017,Luis Scola,PF,36.0,BRK,36.0,1.0,461.0,13.9,0.550,...,51.0,88.0,139.0,37.0,14.0,4.0,34.0,63.0,184.0,scolalu01
20637,2017,C.J. Watson,PG,32.0,ORL,62.0,9.0,1012.0,9.3,0.507,...,16.0,73.0,89.0,114.0,43.0,2.0,47.0,84.0,281.0,watsocj01
20638,2017,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,zubaciv01

In [12]:
nba_stats_df = nba_stats_df.rename(columns={"TS%": "TS_PCT", "ORB%": "ORB_PCT", "DRB%": "DRB_PCT", "TRB%": "TRB_PCT", \
                                           "AST%": "AST_PCT", "STL%": "STL_PCT", "BLK%": "BLK_PCT", "TOV%": "TOV_PCT", \
                                           "USG%": "USG_PCT", "WS/48": "WS_48", "FG%": "FG_PCT", "3P%": "3P_PCT", \
                                           "2P%": "2P_PCT","eFG%": "eFG_PCT","FT%": "FT_PCT"})
nba_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS_PCT,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_id
0,1955,Don Anielak,F,24.0,NYK,1.0,NaN,10.0,1.8,0.260,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,0.0,3.0,anieldo01
1,1955,Dick Rosenthal,SF,25.0,FWP,67.0,NaN,1406.0,13.7,0.435,...,NaN,NaN,300.0,153.0,NaN,NaN,NaN,179.0,524.0,rosendi01
2,1955,Pep Saul,SG,30.0,MLH,65.0,NaN,1139.0,8.1,0.402,...,NaN,NaN,134.0,104.0,NaN,NaN,NaN,126.0,287.0,saulpe01
3,1955,Dick Schnittker,SF,26.0,MNL,72.0,NaN,1798.0,15.4,0.505,...,NaN,NaN,349.0,114.0,NaN,NaN,NaN,231.0,750.0,schnidi01
4,1955,Fred Scolari,PG,32.0,BOS,59.0,NaN,619.0,7.8,0.353,...,NaN,NaN,77.0,93.0,NaN,NaN,NaN,76.0,191.0,scolafr01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,2017,Jason Smith,C,30.0,WAS,74.0,3.0,1068.0,13.6,0.598,...,64.0,194.0,258.0,37.0,21.0,55.0,58.0,168.0,420.0,smithja02
20635,2017,Ramon Sessions,PG,30.0,CHO,50.0,1.0,811.0,12.3,0.495,...,11.0,62.0,73.0,129.0,26.0,3.0,46.0,43.0,312.0,sessira01
20636,2017,Luis Scola,PF,36.0,BRK,36.0,1.0,461.0,13.9,0.550,...,51.0,88.0,139.0,37.0,14.0,4.0,34.0,63.0,184.0,scolalu01
20637,2017,C.J. Watson,PG,32.0,ORL,62.0,9.0,1012.0,9.3,0.507,...,16.0,73.0,89.0,114.0,43.0,2.0,47.0,84.0,281.0,watsocj01
20638,2017,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,zubaciv01

In [13]:
# Write Nba Season Stats to CSV
nba_stats_df.to_csv('database_files/nba_season_stats.csv', index = False, encoding = 'UTF-8')